@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html,
body,
.view {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.nav-item {
	padding: 10px 0;
}

.navbar {
	background-color: transparent;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
}

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.navbar.scrolling-navbar {
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-o-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
	padding-top: 12px;
	padding-bottom: 12px;
}

.top-nav-collapse {
	background-color: #155e1f;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

a {
	cursor: pointer;
	color: #155e1f;
}

a:hover {
	color: #155e1f;
	text-decoration: none;
	background-color: transparent;
}

.cursor-pointer {
	cursor: pointer
}
.title-small{
	font-size: 14px;
}
.text-green {
	color: #155e1f;
}

.text-light-grey {
	color: #c3c3c3;
}

.text-grey {
	color: #6d6e6e
}

.text-dark-grey {
	color: #515151
}

.navbar-brand {
	display: inline-block;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	margin-left: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.navbar-nav .btn {
	margin-right: 20px;
}

.testimonial .mission-ava {
	border-radius: 50%;
	border: 3px solid #155e1f;
}
.testi-socmed a{
	margin: auto 10px;
	margin-bottom: 10px;
}
.testimonial .fas {
	font-size: 35px;
}

.text-medium {
	font-size: 16px;
}

.testimonial .card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0px solid rgba(0, 0, 0, .125);
	border-radius: 0;
	box-shadow: 0 0 16px 2px #00000061;
}
.text-testi{
	text-align: left
}
.testimonial .carousel-indicators {
	padding-bottom: 25px;
}

.testimonial .carousel-item {
	padding: 15px;
}

.testimonial .carousel-indicators li {
	box-sizing: content-box;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #7f7f7f;
	background-clip: padding-box;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	transition: opacity .6s ease;
}
@media (min-width:1300px){
	.col-custom-xl{
		flex: 0 0 70.33333%;
		max-width: 70.33333%;
	}
}
.text-yellow {
	color: #f8a800;
}

.btn-yellow {
	background-color: #f8a800;
	color: white;
	border-radius: 50px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0 0 10px #00000040;
}

.btn-yellow:hover {
	color: white;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn-outline-white {
	color: #fff;
	border-color: #fff;
	border-radius: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

.btn-outline-white:hover {
	color: #fff;
	border-color: #fff;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.nav-link {
	margin-right: 20px;
}

.img-timeline {
	max-width: 175px;
	width: 100%;
}

.line-green {
	height: 6px;
    width: 50%;
    position: absolute;
    top: 20%;
}

.img-rank {
	max-width: 100%;
	max-height: 50px;
	height: auto;
}

.rank .table .thead-green th {
	background-color: #155e1f;
	border-color: #155e1f;
	color: #ffad00;
	text-align: center;
}

.rank .table .tbody-green {
	background-color: #226d2c;
	text-align: center;
}

.rank .table td,
.rank .table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 2px solid #166521;
	color: #ffad00;
}

.rank .title-table {
	background-color: #155e1f;
	padding: 15px;
	color: #ffad00;
	text-align: center;
	font-weight: 600;
}

.row-body {
	background-color: #f5f7f4;
	border-bottom: 3px solid #155e1f;
	padding: 10px;
	color: #155e1f;
	min-height: 70px;
	text-align: center;
	font-weight: 600;
}

.work-carousel {
	padding-bottom: 60px;
}

.work-carousel .slick-list{
	width: 100%;
	margin: auto 30px;
}
.work-carousel .slick-initialized.slick-slider{
	display: flex;
	overflow: hidden;
}
.work-carousel .slick-slide{
	margin: auto 20px!important;
}
.work-carousel .slick-slide img{
	filter: gray; 
	-webkit-filter: grayscale(1); 
}
.work-carousel .slick-slide img:hover{
	filter: none;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1.01);
}
.work-carousel h2{
	margin-bottom: 50px;
}
.work-carousel .slick-arrow{
	font-size: 20px;
	margin: auto
}
.work-carousel .slick-list{
	max-width: 1000px;
}

/* OUR CUSTOMER CAROUSEL */

.our-customer {
	padding-bottom: 60px;
}

.our-customer .slick-list{
	width: 100%;
	margin: auto 30px;
}
.our-customer .slick-initialized.slick-slider{
	display: flex;
	overflow: hidden;
}
.our-customer .slick-slide{
	margin: auto 20px!important;
}
.our-customer .slick-slide img{
	filter: gray; 
	-webkit-filter: grayscale(1); 
}
.our-customer .slick-slide img:hover{
	filter: none;
	-webkit-filter: grayscale(0);
	-webkit-transform: scale(1.01);
}

.our-customer .slick-arrow{
	font-size: 20px;
	color: rgba(243, 243, 243, 0.733);
    margin: auto 10px;
}
.our-customer .slick-list{
	max-width: 1000px;
}

.slick-slide img {
   display: inline!important;
}
.mission .slick-slider{
	display: flex
}
.testimonial .slick-arrow{
	vertical-align: middle;
    align-items: center;
    display: flex;
    font-size: 20px;
	color: #ffffff8a;
	margin: auto 20px;
}
.testimonial .slick-slide{
	padding: 20px;

}
.testimonial .mission-ava{
	width: 120px;
	height: 120px;
}
/* 
.work-carousel .img-fluid {
	max-width: 150px;
} */

.carousel-item-brand {
	display: contents
}

.carret-brand {
	font-size: 35px;
	color: green;
}
.carousel-adv .carret-brand {
    font-size: 35px;
    color: white;
}
.carousel-inner.carousel-inner-brand {
	position: relative;
	overflow: hidden;
	width: 80%;
	margin: 0 10%;
}


/* CAROUSEL */

.footer {
	padding-top: 50px;
}

.copyright {
	padding: 20px 0;
	background-color: #27521d;
}

@media (min-width: 992px) {
	.navbar {
		padding: 0
	}
	.mobileview {
		display: none;
	}
	.container-fluid {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-right: auto;
		margin-left: auto;
	}
	.logo-nav-cyber {
		max-width: 200px;
	}
	.timeline-army {
		padding: 0 50px;
	}
	.header-army {
		background-image: url('../img/bg/bgheader.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 0 50px 90px 50px;
	}
	.footer {
		background-image: url('../img/bg/bgfooter.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0 50px;
		padding-bottom: 10px;
	}
	.mission {
		background-image: url('../img/bg/bgmission.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding-top: 100px;
		padding-bottom: 25px;
	}
	.img-bg {
		background-image: url('../img/bg/bgwhite.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.text-header p {
		width: 315px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.text-header {
		padding-top: 10%;
		padding-bottom: 3%
	}
	.text-header h2 {
		width: 75%;
	}
	.mission .mission-askar img {
		max-width: 120px;
		width: 100%;
	}
	.testimonial .card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1.25rem;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.wrap {
		padding-top: 75px!important;
	}
	.mobileview {
		display: none;
	}
	.container-fluid {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-right: auto;
		margin-left: auto;
	}
	.logo-nav-cyber {
		max-width: 140px;
	}
	.timeline.army {
		padding: 0 50px;
	}
	.img-timeline {
		max-width: 100px;
		width: 100%;
	}
	.line-green {
		height: 4px;
    width: 58%;
    position: absolute;
    top: 12%;
	}
	.fas.fa-quote-right {
		margin-left: -15px;
	}
	.header-army {
		background-image: url('../img/bg/bgheader.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 0 50px 90px 50px;
	}
	.footer {
		background-image: url('../img/bg/bgmobile-footer.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 0;
		padding-bottom: 10px;
		background-color: #62a03a;
	}
	.footer {
		padding-top: 80px;
	}
	.mission {
		background-image: url('../img/bg/bgmission.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding-top: 45px;
	}
	.img-bg {
		background-image: url('../img/bg/bgwhite.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.text-header p {
		width: 300px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.text-header {
		padding-top: 10%;
		padding-bottom: 3%
	}
	.text-header h2 {
		font-size: 25px;
	}
	.mission .mission-askar img {
		max-width: 90px;
		width: 100%;
	}
	.testimonial .card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1.25rem;
	}
}

@media (min-width:575px) and (max-width: 768px) {
	.navbar.scrolling-navbar {
		background-color: #155e1f;
	}
	.pcview {
		display: none;
	}
	.mission .mission-askar img {
		max-width: 60px;
		width: 100%;
		margin-bottom: 20px
	}
	.mission h3 {
		font-size: 16px;
	}
	
	.container-fluid {
		padding: 0;
	}
	.header-army {
		background-image: url('../img/bg/bgheader.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 70px;
	}
	.footer {
		background-image: url('../img/bg/bgmobile-footer.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 0;
		padding-bottom: 10px;
		background-color: #62a03a;
		text-align: center;
	}
	.footer {
		padding-top: 100px;
	}
	.footer .row {
		justify-content: center
	}
	.mission {
		background-image: url('../img/bg/bgmobile_mission.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding-top: 110px;
	}
	.img-bg {
		background-image: url('../img/bg/bgmobile-white.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.logo-nav-cyber {
		max-width: 170px;
	}
	.text-header h2 {
		padding-top: 20px;
		text-align: center;
		font-size: 24px;
	}
	.text-header p {
		padding-top: 20px;
		font-size: 14px;
		text-align: center;
	}
	.text-header .col-8 {
		padding-top: 20px;
	}
	.text-header .col-12 {
		text-align: center
	}
	.timeline-army {
		padding-top: 30px;
	}
	.timeline-army h1 {
		font-size: 28px;
	}
	.timeline-army h3 {
		font-size: 23px;
	}
	.timeline-army .col-9 {
		margin: auto
	}
	.vertical-line {
		display: none
	}
	.rank .mobileview {
		display: none;
	}
	.rank .pcview {
		display: block
	}
	.mobile-rank {
		font-size: 13px;
		background-color: #367127;
		border-bottom: 1px solid #bacead;
		color: #f4a801;
	}
	.bg-rank {
		background-color: #356320;
		text-align: center;
	}
	.testimonial .card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1.25rem;
		padding-top: 0;
		padding-bottom: 5rem;
	}
	.testimonial .fas {
		font-size: 18px;
		margin-left: -5px;
	}
	.carousel-item-brand {
		display: none;
	}
	.carousel-item-brand.active-mobile {
		display: contents;
	}
	.socmed {
		margin: 20px 0!important;
	}
}

@media screen and (max-width:575px) {
	.navbar.scrolling-navbar {
		background-color: #155e1f;
	}
	.pcview {
		display: none;
	}
	.mission .mission-askar img {
		max-width: 60px;
		width: 100%;
		margin-bottom: 20px
	}
	.mission h3 {
		font-size: 16px;
	}
	.container-fluid {
		padding: 0;
	}
	.text-testi{
		text-align: center!important;
	}
	.header-army {
		background-image: url('../img/bg/bgmobile-header.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding-bottom: 70px;
	}
	.footer {
		background-image: url('../img/bg/bgmobile-footer.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 50px 0;
		background-color: #62a03a;
		text-align: center;
	}
	.footer .row {
		justify-content: center
	}
	.footer .card-deck {
		display: flex;
		flex-direction: unset;
	}
	.footer .card-deck .card {
		margin: 0 10px;
	}
	
	.mission {
		background-image: url('../img/bg/bgmobile_mission.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding-top: 60px;
	}
	.img-bg {
		background-image: url('../img/bg/bgmobile-white.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.logo-nav-cyber {
		max-width: 170px;
	}
	.text-header h2 {
		padding-top: 20px;
		text-align: center;
		font-size: 24px;
	}
	.text-header p {
		padding-top: 20px;
		font-size: 14px;
		text-align: center;
	}
	.text-header .col-8 {
		padding-top: 20px;
	}
	.text-header .col-12 {
		text-align: center
	}
	.timeline-army {
		padding-top: 30px;
	}
	.timeline-army h1 {
		font-size: 25px;
	}
	.timeline-army h3 {
		font-size: 23px;
	}
	.vertical-line {
		width: 2px;
		position: absolute;
		left: 36px;
		top: 50px;
		height: 100px;
		display: none
	}
	.mobile-rank {
		font-size: 13px;
		background-color: #367127;
		border-bottom: 1px solid #bacead;
		color: #f4a801;
	}
	.bg-rank {
		background-color: #f5f7f4;
		text-align: center;
	}
	.testimonial .card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1.25rem;
	}

	.testimonial .fas {
		font-size: 18px;
		margin-left: -5px;
	}
	.carousel-item-brand {
		display: none;
	}
	.carousel-item-brand.active-mobile {
		display: contents;
	}
	.socmed {
		margin: 20px 0!important;
	}
}


/* ------------------------------------------- Blank Page ------------------------------------------- */

html,
body {
	height: 100%;
}

.nav-green {
	background-color: #27521d;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 10px 1px #0000005e;
	z-index: 10;
}

.wrap {
	padding-top: 70px;
}

.img-wrap {
	background-image: url('../img/bg/bgwrap.png');
	background-position: top center;
	background-repeat: repeat-y;
	background-size: 100%;
}

.img-wrap>.container {
	min-height: 100vh
}


/* ------------------------------------------- END Blank Page ------------------------------------------- */


/* ------------------------------------------- PAGE 2 ------------------------------------------- */

@media (min-width:992px) {
	.header-adv {
		background-image: url('../img/bg/bgheader-adv.png');
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 0 50px 90px 50px;
	}
	section.about-cyber {
		padding: 50px 200px;
	}
	section.why-us {
		background-image: url('../img/bg/bg-why-us.png');
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		padding: 50px 100px 150px 100px;
		background-color: #286f32;
		margin: -10px 0;
	}
	section.why-us p.why-title{
		width: 380px;
		text-align: center;
		margin: auto;
	}
	section.hire {
		background-image: url('../img/bg/bg-hire.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		padding: 214px 200px;
	}
	section.our-customer {
		background-image: url('../img/bg/bg-our-customer.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		padding: 180px 200px 250px 200px;
		margin-bottom: -115px;
	}
	.pricing .col-lg-4 {
		margin-bottom: 20px;
	}
}

@media (min-width:768px) and (max-width:992px) {
	.header-adv {
		background-image: url('../img/bg/bgheader-adv.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 90px;
	}
	section.about-cyber {
		padding: 50px 100px;
	}
	section.why-us {
		background-image: url('../img/bg/bg-why-us.png');
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		padding: 50px 75px 150px 75px;
		background-color: #286f32;
		margin: -10px 0;
	}
	section.why-us p.why-title{
		width: 380px;
		text-align: center;
		margin: auto;
	}
	section.hire {
		background-image: url('../img/bg/bg-hire.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		padding: 100px 200px;
	}
	section.our-customer {
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		padding: 100px;
		margin-bottom: 100px;
		background-color: #286f32;
	}
	section.pricing .container {
		max-width: 875px;
	}
	.pricing .col-lg-4 {
		margin-bottom: 20px;
	}
}

@media (min-width:575px) and (max-width:768px) {
	.header-adv {
		background-image: url('../img/bg/bgheader-adv.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 120px;
	}
	.header-army .text-header {
		padding: 50px 20px;
	}
	.header-adv .text-header {
		padding-top: 100px!important;
	}
	.header-adv .text-header h1 {
		font-size: 26px;
	}
	section.why-us {
		background-image: url('../img/bg/bgwhy-mobile.png');
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		background-color: #286f32;
		padding: 50px 0;
		margin: -10px 0
	}
	section.why-us p {
		font-size: 15px;
	}
	section.why-us p.why-title{
		width: 300px;
		text-align: center;
		margin: auto;
	}
	section .row-why {
		padding: 0 20px 30px 20px;
	}
	section.about-cyber h2 {
		text-align: center
	}
	section.hire {
		background-image: url('../img/bg/bghire-mobile.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		padding: 80px 0;
	}
	section.hire h1 {
		font-size: 1.5rem;
	}
	section.our-customer {
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		background-color: #3e8227;
		padding: 50px 0;
		margin-bottom: 50px;
	}
}

@media (max-width:575px) {
	.header-army .text-header {
		padding-top: 30px!important;
	}
	.header-adv {
		background-image: url('../img/bg/bgheader-adv.png');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 100px;
	}
	.header-adv .text-header {
		margin-top: 20px!important;
		padding-top: 50px;
	}
	.header-adv .text-header h1 {
		font-size: 26px;
	}
	section.why-us {
		background-image: url('../img/bg/bgwhy-mobile.png');
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		background-color: #286f32;
	}
	section.why-us p {
		font-size: 15px;
	}
	section.why-us p.why-title{
		width: 200px;
		text-align: center;
		margin: auto;
	}
	section .row-why {
		padding: 0 20px 30px 20px;
	}
	section.about-cyber h2 {
		text-align: center
	}
	section.hire {
		background-image: url('../img/bg/bghire-mobile.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		padding: 80px 0;
	}
	section.hire h1 {
		font-size: 1.5rem;
	}
	section.our-customer {
		background-position: top center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		text-align: center;
		background-color: #3e8227;
		padding: 50px 0;
		margin-bottom: 50px;
	}
}

.bg-adv {
	background-position: top center;
	background-repeat: repeat-y;
	background-size: 100%;
	background-color: #fff;
}

.img-why {
	max-width: 120px;
	width: 100%;
	margin-bottom: 20px;
	max-height: 111px;
}

.row-why p {
	font-size: 17px;
	font-weight: 100;
}


/* PRICING */

.pricing sup {
	top: -1.5em;
}

.pricing .card {
	border: none;
	transition: all 0.2s;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.18);
}

.pricing hr {
	margin: 1.5rem 0;
}

.pricing .card-title {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	font-weight: bold;
	color: #3e8227;
}

.pricing .card-price {
	font-size: 2rem;
	margin: 0;
	line-height: 1;
}

.pricing .card-price .period {
	font-size: 0.8rem;
}

.pricing ul li {
	margin-bottom: 1rem;
}

.pricing .text-muted {
	opacity: 0.7;
}

.pricing .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s;
}

.card .row-price {
	text-align: center;
	background-color: #3e8227;
	justify-content: center;
	color: white;
	padding: 25px 10px;
	min-height: 145px;
}

.pricing .card-header {
	padding: 0;
	border-bottom: 0;
}

.pricing .card-footer {
	border-top: 0px;
}

.pricing p.card-price {
	font-size: 1.5rem;
}

.card-second .card-header {
	background-color: #3e8227;
	color: white;
}

.card-second .row-price {
	background-color: #f0f0f0;
	color: #3e8227
}

.card-second .card-body {
	background-color: #3e8227;
	color: #fff;
}

.card-second .card-footer {
	background-color: #508d3b
}

.card-second .card-title {
	color: #fff
}


/* Hover Effects on Card */


/* RIBBON */

#ribbon {
	padding: 0 0 10px 0;
	position: absolute;
	right: 0.25em;
	top: -0.25em;
	width: 40px;
}

#ribbon div {
	background: #ff9c00;
	color: #fff;
	padding: 0.5em 0;
	text-align: center;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

#ribbon div:after {
	border-left: 20px solid #ff9c00;
	border-right: 20px solid #ff9c00;
	border-bottom: 10px solid transparent;
	bottom: 0;
	content: '';
	height: 0;
	left: 0;
	position: absolute;
	width: 0;
}

@media (min-width: 992px) {
	.pricing .card:hover {
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	}
	.pricing .card:hover .btn {
		opacity: 1;
	}
}


/* END PRICING */


/* ------------------------------------------- END PAGE 2 ------------------------------------------- */


/* ------------------------------------------- BLANK ARMY ------------------------------------------- */

.img-avatar {
	max-width: 40px;
}

.dropdown-menu-right .dropdown-item {
	padding: 10px 20px;
}

.navbar-second {
	background-color: #7d6e3b;
	padding: 0;
	height: 65px;
}

.navbar-second .nav-item {
	padding: 10px;
	color: #62a03a
}

.navbar-second .nav-item .nav-link {
	color: rgba(255, 255, 255, 0.49)
}

.navbar-second .nav-link.active {
	color: #ffad00;
	border-bottom: 4px solid #ffad00
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
	color: #ffad00;
	line-height: 2.8;
}

.navbar-second .nav-link {
	line-height: 2.8
}

.navbar-second .nav-item:hover>.nav-link {
	color: #ffad00;
	border-bottom: 4px solid #ffad00
}

.navbar-second .nav-item.active>.nav-link {
	color: #ffad00;
}

.navbar-second .nav-link {
	margin-right: 0;
	margin-left: 0;
}

.dropdown-secondary {
	border-radius: 0;
	min-width: 286px;
	background-color: #0b3800;
	border: 0;
	margin: 0;
}

.dropdown.show {
	background-color: #0b3800;
}

.dropdown-item i {
	width: 25px;
}

.dropdown-item:active {
	background-color: #226d2c;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #e5e5e5;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.row-profile .text-small {
	font-size: 13px;
	line-height: 0.5;
}


/* ------------------------------------------- END BLANK ARMY ------------------------------------------- */


/* ------------------------------------------- NAVBAR MOBILE ------------------------------------------- */

@media screen and (max-width:575px) {
	.nav-mobile .navbar-nav .btn-outline-primary {
		min-width: 150px;
	}
	.nav-mobile .navbar-brand {
		margin: auto 15px;
	}
	.navbar.nav-mobile {
		padding: 0
	}
	.nav-mobile .logo-nav-cyber {
		max-width: 35px;
	}
	.nav-mobile .navbar-nav .dropdown-menu {
		position: absolute;
		float: none;
	}
	.nav-mobile .navbar-nav .nav-link {
		margin-right: 0;
	}
	.nav-mobile.navbar-second .navbar-nav {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: unset;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
	.wrap {
		padding-top: 75px;
	}
	.dropdown-secondary {
		min-width: 238px;
	}
}


/* ------------------------------------------- END NAVBAR MOBILE ------------------------------------------- */


/* ------------------------------------------- NAVBAR TABLET ------------------------------------------- */

@media screen and (max-width: 768px) {
	.nav-mobile .navbar-nav .btn-outline-primary {
		min-width: 120px;
	}
	.nav-mobile .navbar-brand {
		margin: auto 15px;
	}
	.navbar.nav-mobile {
		padding: 0
	}
	.nav-mobile .logo-nav-cyber {
		max-width: 35px;
	}
	.nav-mobile .navbar-nav .dropdown-menu {
		position: absolute;
		float: none;
		width: 100%;
	}
	.nav-mobile .navbar-nav .nav-link {
		margin-right: 0;
	}
	.nav-mobile.navbar-second .navbar-nav {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: unset;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
	.wrap {
		padding-top: 75px;
	}
}


/* ------------------------------------------- END NAVBAR TABLET ------------------------------------------- */


/* ------------------------------------------- CONTENT  ------------------------------------------- */

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0px solid rgba(0, 0, 0, .125);
	border-radius: 0;
	box-shadow: 0px 0px 5px #00000024;
}

.card .card {
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, .125);
}

.card-header {
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	border-radius: 0;
}

.card-footer {
	padding: .75rem 1.25rem;
	background-color: rgba(0, 0, 0, .03);
	border-top: 0px solid rgba(0, 0, 0, .125);
	border-radius: 0;
}


/* BUTTON */

.btn {
	border-radius: 0;
	padding: 10px 30px;
	box-shadow: 0 0 10px #00000040;
}

.btn:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.btn-primary {
	color: #fff;
	background-color: #3e8227;
	border-color: #3e8227;
	border-radius: 0px;
}

.btn-primary:hover {
	color: #fff;
	background-color: #508d3b;
	border-color: #508d3b;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #3e8227;
	border-color: #3e8227;
}

.btn-secondary {
	color: #fff;
	background-color: #ff9c00;
	border-color: #ff9c00;
	border-radius: 0px;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #ffad00;
	border-color: #ffad00;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #ff9c00;
	border-color: #ff9c00;
}



.btn.disabled, .btn:disabled {
    color: #fff;
    background-color: #3d8227;
	border-color: #3d8227;
	opacity: 0.50;
}

/* BUTTON ROUNDED */

.btn-rounded {
	border-radius: 30px!important;
}


/* BUTTON OUTLINE */

.btn-outline-primary {
	background-color: #fff;
	color: #3e8227;
	border-color: #3e8227;
	border: 1.5px solid #3e8227;
	box-shadow: 0 0 10px #00000040;
	border-radius: 0px;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #508d3b;
	border-color: #508d3b;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	padding: 10px 30px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
	color: #3e8227;
	background-color: #3e8227;
	border-color: #3e8227;
	padding: 10px 30px;
}

.btn-outline-secondary {
	color: #ff9c00;
	background-color: #fff;
	border-color: #ff9c00;
	border: 1.5px solid #ff9c00;
	box-shadow: 0 0 10px #00000040;
	border-radius: 0px;
}

.btn-outline-secondary:hover {
	color: #fff;
	background-color: #ffad00;
	border-color: #ffad00;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	padding: 10px 30px;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
	color: #ff9c00;
	background-color: #ff9c00;
	border-color: #ff9c00;
	padding: 10px 30px;
}

.btn-outline-success {
	color: #28a745;
	background-color: #fff;
	border-color: #28a745;
	border: 1.5px solid #28a745;
	box-shadow: 0 0 10px #00000040;
	border-radius: 0px;
}

.btn-outline-success:hover {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	padding: 10px 30px;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle {
	color: #28a745;
	background-color: #28a745;
	border-color: #28a745;
	padding: 10px 30px;
}

.btn-outline-danger {
	color: #dc3545;
	background-color: #fff;
	border-color: #dc3545;
	border: 1.5px solid #dc3545;
	box-shadow: 0 0 10px #00000040;
	border-radius: 0px;
}

.btn-outline-danger:hover {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	padding: 10px 30px;
}

.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show>.btn-outline-danger.dropdown-toggle {
	color: #dc3545;
	background-color: #dc3545;
	border-color: #dc3545;
	padding: 10px 30px;
}

.btn-outline-warning {
	color: #ffc107;
	background-color: #fff;
	border-color: #ffc107;
	border: 1.5px solid #ffc107;
	box-shadow: 0 0 10px #00000040;
	border-radius: 0px;
}

.btn-outline-warning:hover {
	color: #fff;
	background-color: #ffc107;
	border-color: #ffc107;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	padding: 10px 30px;
}

.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show>.btn-outline-warning.dropdown-toggle {
	color: #ffc107;
	background-color: #ffc107;
	border-color: #ffc107;
	padding: 10px 30px;
}

.btn-outline-info {
	color: #17a2b8;
	background-color: #fff;
	border-color: #17a2b8;
	border: 1.5px solid #17a2b8;
	box-shadow: 0 0 10px #00000040;
	border-radius: 0px;
}

.btn-outline-info:hover {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	padding: 10px 30px;
}

.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show>.btn-outline-info.dropdown-toggle {
	color: #17a2b8;
	background-color: #17a2b8;
	border-color: #17a2b8;
	padding: 10px 30px;
}

.btn-outline-light {
	color: #fff;
	border-color: #fff;
	border: 1.5px solid #fff;
	box-shadow: 0 0 10px #00000040;
	border-radius: 0px;
}

.btn-outline-light:hover {
	color: #155e1f;
	background-color: #fff;
	border-color: #fff;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
	padding: 10px 30px;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show>.btn-outline-light.dropdown-toggle {
	color: #155e1f;
	background-color: #fff;
	border-color: #fff;
	padding: 10px 30px;
}


/* PAGINATION */
.pagination{
	margin-bottom: 0
}
.page-link {
	position: relative;
	display: block;
	padding: .5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #286f32;
	background-color: #fff;
	border: 0px solid #dee2e6;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #286f32;
	border-color: #286f32;
}

.page-link:hover {
	z-index: 2;
	color: #508d3b;
	text-decoration: none;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

.page-item {
	margin: 0 10px;
}

@media (max-width:575px) {
	.page-item {
		display: none;
	}
	.page-item.active {
		display: block;
	}
	.page-item:first-child {
		display: block
	}
	.page-item:last-child {
		display: block
	}
}


/* FORM INPUT */

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-select {
	display: inline-block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem 1.75rem .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


/* SUBMENU */

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #3e8227;
	border-color: #3e8227;
	padding: 10px 30px;
}

.dropdown-submenu {
	text-decoration: none;
	list-style: none;
	padding-left: 0;
	border: 1px solid #0b3800;
	border-top: 0;
}

.dropdown-submenu ul {
	text-decoration: none;
	padding-left: 0;
	list-style: none;
}

.dropdown-submenu .dropdown-item {
	color: white;
	border-top: 2px solid #00000038;
}

.dropdown-menu {
	color: white;
}

.dropdown-menu .dropdown-item:hover {
	color: #155e1f!important;
	background-color: #d0d0d0!important
}

.dropdown-submenu .menu-logout {
	border-top: 2px solid #00000038;
}

.dropdown-submenu .menu-right {
	box-shadow: inset 4px 4px 7px #00000038;
}

.dropdown-menu .dropdown-item.active {
	color: #fff;
	background-color: #0b3800
}


/* ------------------------------------------------------------ PROFILE ARMY ------------------------------------------------------------ */

.img-profile {
	border: 5px solid #ffffff47;
}

.nav-pills {
	padding: 0 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #155e1f;
	border-radius: 0;
}

.profile .fab {
	font-size: 30px;
}

.panel {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 12px 0;
	text-align: center;
	color: white;
	font-weight: 600;
	border-radius: 10px;
	text-transform: uppercase
}

.profile .interest .card-body .col-6 {
	padding-left: 5px;
	padding-right: 5px;
}

.panel.food {
	background-image: url('../img/sample/food.jpg');
}

.panel.work {
	background-image: url('../img/sample/bussiness.jpg');
}

.panel.nature {
	background-image: url('../img/sample/nature.jpg');
}

.panel.fashion {
	background-image: url('../img/sample/fashion.jpg');
}

.panel.travel {
	background-image: url('../img/sample/travel.jpg');
}

.panel.animal {
	background-image: url('../img/sample/animal.jpg');
}

@media screen and (max-width:575px) {
	section.profile {
		text-align: center
	}
	section.profile .border-right {
		display: none
	}
	section.profile .row {
		justify-content: center
	}
	.profile .socmed {
		margin: 10px 0;
	}
	.socmed .card {
		padding: 1rem;
	}
	.profile .address {
		margin-top: 20px;
	}
	.profile .interest .card-body {
		padding: 0
	}
	.address .interest {
		margin-bottom: 20px;
	}
}

@media (min-width:575px) and (max-width:768px) {
	section.profile {
		text-align: center
	}
	section.profile .border-right {
		display: none
	}
	section.profile .row {
		justify-content: center
	}
	.profile .socmed {
		margin: 10px 0;
	}
	.profile .address {
		margin-top: 20px;
	}
	.profile .interest .card-body {
		padding: 0
	}
	.address .interest {
		margin-bottom: 20px;
	}
	.socmed .card {
		padding: 1.5rem;
	}
}

@media (min-width:768px) and (max-width:992px) {
	.profile .interest .card-body {
		padding: 0
	}
	.profile .interest .card-body .col-6 {
		padding-left: 5px;
		padding-right: 5px;
	}
}


/* ----------------------------------------------------- PAGE LOGIN ----------------------------------------------------- */

.text-small {
	font-size: 12px;
}

.container-login {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background: url('../img/bg/bgwrap.png');
	min-height: 100vh
}

.login {
	padding: 100px 0;
}

.login .img-left .card {
	background: linear-gradient( rgba(1, 105, 44, 0.45), rgba(4, 136, 65, 0.45)), url(../img/bg/bglogin.jpeg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 570px;
	box-shadow: -4px 0px 10px 0px #00000038;
}

.login .socmed {
	font-size: 30px;
	text-align: center;
	cursor: pointer;
}

.login .right .card {
	box-shadow: 4px 0px 10px 0 #00000038;
	height: 570px;
}

.register-army .login .right .card {
	box-shadow: 4px 0px 10px 0 #00000038;
	height: 735px;
}

.register-army .login .img-left .card {
	height: 735px;
}

.login .socmed .fa-facebook {
	color: #3C5A99
}

.login .socmed .fa-twitter-square {
	color: #1DA1F2
}

.login .socmed .fa-google-plus-square {
	color: #DB4437
}

.login .card-body {
	padding: 1.75rem 3rem;
}

@media (min-width:1300px) {
	.login .col-xl-4 {
		max-width: 417px;
	}
}

@media (min-width:575px) and (max-width:768px) {
	.login .img-left {
		display: none
	}
	.login .card-header {
		text-align: center;
	}
	.container-login {
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 100%;
		background: linear-gradient( rgba(1, 105, 44, 0.45), rgba(4, 136, 65, 0.45)), url(../img/bg/bglogin-mobile.jpeg);
	}
}

@media (max-width:575px) {
	.container-login {
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: 100%;
		background: linear-gradient( rgba(1, 105, 44, 0.45), rgba(4, 136, 65, 0.45)), url(../img/bg/bglogin-mobile.jpeg);
	}
	.login .img-left {
		display: none
	}
	.login {
		padding: 50px 0;
	}
	.login .card-header {
		text-align: center;
	}
}

.register-army .img-left .card {
	background: linear-gradient( rgba(1, 105, 44, 0.45), rgba(4, 136, 65, 0.45)), url(../img/bg/bglogin.jpeg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 570px;
	padding: 0;
	box-shadow: -4px 0px 10px 0px #00000038;
}


/* PAGE TOPUP */

.bg-ammo {
	background: linear-gradient( rgba(1, 105, 44, 0.45), rgba(4, 136, 65, 0.45)), url(../img/png/bullet.jpeg);
	background-size: cover;
	background-position: center;
	color: white;
}

.bg-ammo2 {
	background: linear-gradient( rgba(1, 105, 44, 0.45), rgba(4, 136, 65, 0.45)), url(../img/png/bullet1.jpeg);
	background-size: cover;
	background-position: center;
	color: white;
}

.bg-ammo3 {
	background: linear-gradient( rgba(1, 105, 44, 0.45), rgba(4, 136, 65, 0.45)), url(../img/png/bullet2.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

.bg-ammo4 {
	background: linear-gradient( rgba(1, 105, 44, 0.45), rgba(4, 136, 65, 0.45)), url(../img/png/bullet3.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

.bg-ammo5 {
	background: linear-gradient( rgba(1, 105, 44, 0.45), rgba(4, 136, 65, 0.45)), url(../img/png/bullet4.jpeg);
	background-size: cover;
	background-position: center;
	color: white;
}

section.checkout {
	margin: auto;
	margin-bottom: 100px;
	min-height: 65vh;
}

.img-checkout-rank {
	max-width: 60px;
	max-height: 60px;
}

.checkout .table td,
.checkout .table th {
	padding: .75rem;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
}

.border-invoice {
	border-bottom: 3px solid #155e1f
}

.grand-total {
	font-weight: bold;
	color: #ff4800;
}


/* PRICING TOPUP */

.topup-ammo sup {
	top: -1.5em;
}

.topup-ammo .card {
	border: none;
	transition: all 0.2s;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.18);
}

.topup-ammo hr {
	margin: 1.5rem 0;
}

.topup-ammo .card-title {
	margin: 0.5rem 0;
	font-size: 0.9rem;
	font-weight: bold;
	color: #3e8227;
}

.topup-ammo .card-price {
	font-size: 3rem;
	margin: 0;
	line-height: 1;
}

.topup-ammo .card-price .period {
	font-size: 0.8rem;
}

.topup-ammo ul li {
	margin-bottom: 1rem;
}

.topup-ammo .text-muted {
	opacity: 0.7;
}

.topup-ammo .card-header {
	padding: 0;
	border-bottom: 0;
}

@media (min-width: 992px) {
	.topup-ammo .card:hover {
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
	}
	.topup-ammo .card:hover .btn {
		opacity: 1;
	}
	.topup-ammo {
		margin: 100px auto;
	}
}


/* ---------------------------------------- NOTIFICATION ---------------------------------------- */

.nav-notification {
	color: #93a88e;
	font-size: 25px;
	position: relative;
}

.notifications-link.header-link {
	text-align: center;
	padding: 15px 10px;
	display: block;
	text-decoration: none!important;
	font-weight: normal;
	color: #f5f5f5!important;
	line-height: 18px!important;
	height: auto!important;
}

.notification {
	position: relative;
	padding: 7px 5px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e4e4e4;
}

.notification:hover {
	background-color: #ececec;
}

.scroll-div {
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	width: auto;
	height: 250px;
	background-color: #f5f5f5;
}

.notification-not-found {
	font-size: 1rem;
	color: #00000036;
	font-weight: bold;
}

.notifications-link.footer-link {
	text-align: center;
	padding: 15px;
	display: block;
	text-decoration: none!important;
	font-weight: normal;
	color: #f5f5f5!important;
	line-height: 18px!important;
	height: auto!important;
}

.notification p {
	font-size: 14px;
}

.notification .profile-notif {
	padding: 0;
}

.badge-notify-army {
	background: red;
	position: absolute;
	top: 9px;
	left: 20px;
	z-index: 1111;
}

.badge-army {
	display: inline-block;
	min-width: 10px;
	padding: 2px;
	font-size: 9px;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: red;
	border-radius: 10px;
}

.notification-str {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	max-width: 300px;
	display: inline-block;
	font-weight: normal;
}

.notification .text-small {
	font-size: 10px;
	color: #7f7f7f
}

@media screen and (min-width:992px) {
	.nav-notification {
		margin: auto 15px;
	}
}

@media screen and (max-width:575px) {
	.nav-notification {
		padding-left: 20px!important;
		padding-right: 20px!important;
	}
	.badge-notify-army {
		background: red;
		position: absolute;
		top: 9px;
		left: 34px;
		z-index: 1111;
	}
}

.icon-verified::after {
	content: "\f00c";
	position: absolute;
	color: #ffffff;
	left: 5px;
	font-size: 11px;
	top: 9px;
}

.icon-verified:before {
	content: "\f0a3";
	color: #1ca1f2;
}


/* ---------------------------------------------------------- PAGE TOPUP HISTORY ---------------------------------------------------------- */

.topup-history h6 {
	font-weight: 600;
	margin-bottom: 0
}

.topup-history .card a {
	font-size: 14px;
}

.topup-history .card-body p {
	font-size: 14px;
}

.topup-history .history-transaction {
	margin-bottom: 20px;
}

.topup-history .card:hover {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.24);
}

@media (min-width:992px) {
	.topup-history {
		min-height: 75vh;
		margin: 50px 100px;
	}
	.col-transaction {
		border-right: 1px solid #e4e4e4
	}
	.topup-history .btn-buy-again {
		text-align: right;
	}
}

@media (min-width:768px) and (max-width:992px) {
	.topup-history {
		min-height: 75vh;
		margin: 50px 0;
	}
	.col-transaction {
		border-right: 1px solid #e4e4e4
	}
	.topup-history .btn-buy-again {
		text-align: right;
	}
}

@media (min-width:575px) and (max-width:768px) {
	.topup-history {
		margin: 50px 0;
	}
	.topup-history .btn-buy-again {
		text-align: center;
		margin-top: 20px;
	}
}

@media (max-width:575px) {
	.topup-history {
		margin: 50px 0;
	}
	.topup-history .btn-buy-again {
		text-align: center;
		margin-top: 20px;
	}
}


/* ---------------------------------------------------------- PAGE BUY RANK ---------------------------------------------------------- */

.buy-rank h6 {
	font-weight: 600;
	margin-bottom: 0
}

.buy-rank .card a {
	font-size: 14px;
}

.buy-rank .card-body p {
	font-size: 14px;
}

.buy-rank .history-transaction {
	margin-bottom: 20px;
}

.buy-rank .card:hover {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.24);
}

.buy-rank .card-body {
	padding: 0.7rem
}

.buy-rank img {
	max-width: 60px;
	max-height: 60px;
}

@media (min-width:992px) {
	.buy-rank {
		min-height: 75vh;
		margin: 50px 100px;
	}
	.col-transaction {
		border-right: 1px solid #e4e4e4
	}
	.buy-rank .btn-buy-again {
		text-align: right;
	}
}

@media (min-width:768px) and (max-width:992px) {
	.buy-rank {
		min-height: 75vh;
		margin: 50px 0;
	}
	.col-transaction {
		border-right: 1px solid #e4e4e4
	}
	.buy-rank .btn-buy-again {
		text-align: right;
	}
}

@media (min-width:575px) and (max-width:768px) {
	.buy-rank {
		margin: 50px 0;
	}
	.buy-rank .btn-buy-again {
		text-align: center;
		margin-top: 20px;
	}
}

@media (max-width:575px) {
	.buy-rank {
		margin: 50px 0;
	}
	.buy-rank .btn-buy-again {
		text-align: center;
		margin-top: 20px;
	}
}


/* ---------------------------------------------------------- PAGE TOPUP HISTORY RANK ---------------------------------------------------------- */

.history-topup-rank h6 {
	font-weight: 600;
	margin-bottom: 0
}

.history-topup-rank .card a {
	font-size: 14px;
}

.history-topup-rank .card-body p {
	font-size: 14px;
}

.history-topup-rank .history-transaction {
	margin-bottom: 20px;
}

.history-topup-rank .card:hover {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.24);
}

.history-topup-rank .card-body {
	padding: 0.7rem
}

@media (min-width:992px) {
	.history-topup-rank {
		min-height: 75vh;
		margin: 50px 100px;
	}
	.history-topup-rank .btn-buy-again {
		text-align: right;
	}
}

@media (min-width:768px) and (max-width:992px) {
	.history-topup-rank {
		min-height: 75vh;
		margin: 50px 0;
	}
	.history-topup-rank .btn-buy-again {
		text-align: right;
	}
}

@media (min-width:575px) and (max-width:768px) {
	.history-topup-rank {
		margin: 50px 0;
	}
	.history-topup-rank .btn-buy-again {
		text-align: center;
		margin-top: 20px;
	}
}

@media (max-width:575px) {
	.history-topup-rank {
		margin: 50px 0;
	}
	.history-topup-rank .btn-buy-again {
		text-align: center;
		margin-top: 20px;
	}
}


/* 404 PAGE */

.page404 {
	margin: 50px 0;
}


/* AMMO-Balance */

.ammo-balance {
	margin: 50px 20px;
	min-height: 90vh
}

.ammo-balance .card-header.title-table {
	padding: 10px;
}

.ammo-balance .card-header .title-table {
	text-align: left
}

.ammo-balance .table-balance {
	color: #7f7f7f;
	height: 500px;
}

@media (max-width:575px) {
	.ammo-balance {
		margin: 50px 0px;
	}
}


/* HOVER shadow */

.hover-shadow:hover {
	margin-top: -.25rem;
	margin-bottom: .25rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}


/* ANIMATE */

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.pulse:hover {
	-webkit-animation-name: pulse;
	animation-name: pulse;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}


/* REMOVE OUTLINE */

.custom-select:focus {
	border-color: #1a8602;
	outline: 0;
	box-shadow: none;
}

.form-control:focus {
	border-color: #cccccc;
	-webkit-box-shadow: none;
	box-shadow: none;
}

textarea:focus,
input:focus,
input[type]:focus,
a:focus,
a:active,
.btn:focus,
.btn:active,
.uneditable-input:focus {
	outline: 0 none;
	border-color: #1aaa45;
}

.custom-control-input:checked~.custom-control-label::before {
	color: #fff;
	border-color: #1aaa45;
	background-color: #3d8227;
}

.page-link:focus {
	z-index: 2;
	outline: 0;
	border-color: #1aaa45;
}

.btn-primary.focus,
.btn-primary:focus {
	border-color: #1aaa45;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	border-color: #1aaa45;
}


/* PLACEHOLDER */

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

.placeholder-header {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: placeHolderShimmer;
	background: #979797;
	background: linear-gradient(to right, #dbdbdb 8%, #bebebe 18%, #dbdbdb 33%);
	background-size: 800px 104px;
	height: 15px;
	margin-bottom: 10px;
	position: relative;
}

.placeholder-header-light {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: placeHolderShimmer;
	background: #979797;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	height: 10px;
	margin-bottom: 10px;
	position: relative;
}

.placeholder-header-img {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: placeHolderShimmer;
	background: #979797;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	height: 10px;
	margin: 10px 0;
	position: relative;
}

.placeholder-image {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: placeHolderShimmer;
	background: #979797;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	height: 100px;
	margin-bottom: 10px;
	position: relative;
}

.placeholder-text {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: placeHolderShimmer;
	background: #979797;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	height: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 90%
}

.placeholder-text-light-second {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: placeHolderShimmer;
	background: #979797;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	height: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 100%
}

.placeholder-text-light-thrd {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: placeHolderShimmer;
	background: #979797;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	height: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 80%
}

.placeholder-list {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: placeHolderShimmer;
	background: #979797;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	height: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 100%
}

.placeholder-list-second {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: placeHolderShimmer;
	background: #979797;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	height: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 90%
}

.placeholder-list-thrd {
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: placeHolderShimmer;
	background: #979797;
	background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
	background-size: 800px 104px;
	height: 10px;
	margin-bottom: 10px;
	position: relative;
	width: 80%
}


/* NEW TIMELINE */

.container.wrap-timeline {
	margin: 100px auto;
}


/* The actual timeline (the vertical ruler) */

.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */

.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #d0d0d0;
	top: 0;
	bottom: 0;
	left: -3px;
	margin-left: -3px;
}


/* Container around content */

.timeline .container {
	padding: 0 40px;
	position: relative;
	background-color: inherit;
	margin: 20px auto;
	width: 100%;
}


/* The circles on the timeline */

.timeline .container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #3d8227;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}


/* Place the container to the right */

.timeline .right {
	left: 0;
}


/* Add arrows to the right container (pointing left) */

.timeline .right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}


/* Fix the circle for containers on the right side */

.timeline .right::after {
	left: -16px;
}


/* The actual content */

.timeline .content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: 31px;
	}
	/* Full-width containers */
	.timeline .container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	/* Make sure that all arrows are pointing leftwards */
	.timeline .container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}
	/* Make sure all circles are at the same spot */
	.timeline .right::after {
		left: 15px;
	}
	/* Make all right containers behave like the left ones */
	.timeline .right {
		left: 0%;
	}
}

.name-elipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	display: inline-block;
}


/* TIMELINE */


/* BONUS HISTORY */

.container.bonus-history {
	padding-top: 50px;
}

.input-group button {
	box-shadow: none;
}

.input-group button:hover {
	box-shadow: none;
}

.dropdown.v-select .dropdown-menu a {
	color: #155e1f;
}


/* TABS */

.nav-pills .nav-item {
	padding: 10px;
}

#nav-form-req p {
	line-height: 2;
}

input[type='radio']:after {
	width: 17px;
	height: 17px;
	border-radius: 17px;
	position: relative;
	content: '';
	display: inline-block;
	visibility: visible;
}

input[type='radio']:checked:after {
	width: 17px;
	height: 17px;
	border-radius: 17px;
	top: -1px;
	left: -1px;
	position: relative;
	background-color: #ffffff;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 5px solid #155e1f;
}

@media (max-width:575px) {
	.nav.nav-pills {
		font-size: 14px;
	}
	.nav-pills {
		padding: 0;
	}
	.nav-pills .nav-link {
		margin-right: 0;
	}
}

.timer-join {
	font-size: 35pt
}

.text-secondary {
	color: #ff9c00!important;
}

.text-primary {
	color: #155e1f!important;
}

.text-blue {
	color: rgb(8, 95, 149)
}
.text-twitter{
	color: #339af0;
}
.navbar.mobileview .navbar-nav .btn{
	margin-right: 0!important;
}

.notice{
	font-size: 12px;
}
.invoice main{
	margin-bottom: 50px;
}
@media print{
	.copyright{
		display: none;
	}
	.btn{
		display: none;
	}
}
.text-mission{
	line-height: 2;
}
.timeline.step{
	font-size: 12px;
	text-align: left
}
.timeline.step::after {
    content: '';
    position: absolute;
    width: 0px;
    background-color: #d0d0d0;
    top: 0;
    bottom: 0;
    left: 11px;
    margin-left: -3px;
}
/* STEP */
.box-mission{
	border: 5px solid #3d8227;
	padding: 10px;
	
}
.box-mission-red{
	border: 5px solid #ff4800;
	padding: 10px;
	
}
.box-timer-red{
	padding: 10px 30px;
    width: 100%;
    text-align: center;
    background-color: #ff4800;
    vertical-align: middle;
    display: flex;
    justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px
}
.box-timer{
	padding: 10px 30px;
    width: 100%;
    text-align: center;
    background-color: #3d8227;
    vertical-align: middle;
    display: flex;
    justify-content: center;
	align-items: center;
	color: white;
	font-size: 20px
}
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
	width: 97%;
    left: 14px;
    height: 5px;
    background-color: #ccc;
}
.stepwizard-step {
    display: table-cell;
	position: relative;
	width: 33%;
}
.stepwizard-step.step1{
	text-align: left
}

.stepwizard-step.step2{
	text-align: center
}

.stepwizard-step.step3{
	text-align: right
}
.stepwizard .btn{
	padding: 0 10px;
	height: 30px;
	
}

/* NAV */
.collapse .card{
	padding: 10px 30px;
	box-shadow: 0px 0px 0px #00000024;
	border-top: 2px solid #00000038;
		padding-left: 50px;
	background-color: #0b3800;
}
.collapse .card a{
	color: #fff
}
.collapse .card a:hover{
	color: #155e1f!important
}
.collapse .card:hover{
	background-color: #dbdbdb!important;
	color: #155e1f!important

}
.collapse .card:hover > a{
	color: #155e1f!important

}
.mobileview .dropdown-mob .card{
	padding: 10px 30px;
	box-shadow: 0px 0px 0px #00000024;
	border-top: 2px solid #00000038;
		padding-left: 50px;
	background-color: #0b3800;
}
.mobileview .dropdown-mob .card a{
	color: #fff
}
.mobileview .dropdown-mob .card a:hover{
	color: #155e1f!important
}
.mobileview .dropdown-mob .card:hover{
	background-color: #dbdbdb!important;
	color: #155e1f!important

}
.mobileview .dropdown-mob .card:hover > a{
	color: #155e1f!important

}
.rank-boxshadow{
	box-shadow: 0px 1px 9px 1px #c7c7c7;
    padding: 0;
}
.modal-dialog .modal-body .dropdown-toggle:after{
	display: none;
}
.row-slick .row{
	height: 210px;
}
.nav-ava{
	padding: 8px 0;
}
.img-small{
	width: 50px;
	height: 50px;
}
@media screen and (max-width:575px) {
	.checkout h3{
	margin-top: 20px;
}

.col-invoice{
	background-color: #f5f5f5
}
}